header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100;
    height: 2.3125rem;
    margin-top: 4.8125rem;
}

header h1 {
    font-size: var(--font-1);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
    color: var(--color-grey-1);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    margin: 3.875rem 0;
}

.filter-section {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.filter-section h2 {
    font-size: var(--font-2);
    line-height: var(--line-height-2);
    font-weight: var(--font-weight-1);
    color: var(--color-grey-1);
}

.genres-list {
    display: flex;
    gap: 1.875rem;
    flex-wrap: wrap;
}

.price-filter-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.price-filter-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-filter-title {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
    color: var(--color-grey-1);
}

.price-filter {
    font-size: var(--font-2);
    font-weight: var(--font-weight-2);
    line-height: var(--line-height-2);
    color: var(--color-grey-2);
}

.albuns {
    display: flex;
    flex-direction: column;
}

.albuns > h2 {
    font-size: var(--font-2);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
    color: var(--color-grey-1);
    margin-bottom: 3.75rem;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5625rem;
}










